* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

header {
  width: 100%;
  padding-top:  40px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column; /* Todo en columna */
  align-items: center;
  justify-content: flex-end;
  background-image: url('FOTO/link\ 1.png'); /* ruta de la foto */
  background-size: cover; /* hace que la imagen ocupe todo el header */
  background-position: center; /* centra la imagen */
  background-repeat: no-repeat; /* evita que se repita */
}
.social-icons {
  display: flex;
  flex-direction: row; /* explícito en fila */
  gap: 10px;           /* espacio entre íconos */
  margin-top: 10px;
}

.btn-header {
  background-color: #444;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: background-color 0.2s;
}
.btn-header:hover {
  background-color: #555;
}

.profile-pic {
      width: 90px;
      height: 90px;
      border-radius: 50%;
      border: 3px solid white;
      object-fit: cover;
      margin-bottom: 10px;
      display: flex;
  
    }

h1 {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 5px;
}

h2 {
  color: white;
  font-size: 1rem;
  margin-bottom: 15px;
}


main {
  flex: 1;
  padding: 150px 0;
  text-align: center;
  font-size: 1rem;
  line-height: 1.5;
   
}

footer {
  background-color: #333;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  gap: 15px;

}

.contact-btn {
  background-color: #444;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: background-color 0.2s;
  font-family: 'Roboto Condensed', sans-serif;
}

.contact-btn:hover {
  background-color: #555;
}